$small: "576px";
$medium: "768px";
$large: "992px";
$extra_large: "1200px";

/* Colors */
$primary: #060c1a;
$secondary: #0e1421;
$third: #742bec;
$gray: #a1a1a1;
$blue: #15264d;

/* Radius */
$rad-15: 15px;
